asgiref==3.9.1
certifi==2025.10.5
cffi==2.0.0
channels==4.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
defusedxml==0.7.1
Django==4.2.1
django-sslserver==0.22
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework_simplejwt==5.5.1
djoser==2.2.0
idna==3.11
oauthlib==3.3.1
pillow==12.0.0
psycopg2==2.9.10
pycparser==2.23
PyJWT==2.10.1
pypng==0.20220715.0
python-decouple==3.8
python-dotenv
python3-openid==3.2.0
pytz==2025.2
qrcode==7.4.2
requests==2.32.5
requests-oauthlib==2.0.0
social-auth-app-django==5.4.3
social-auth-core==4.8.1
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.5.0
uuid==1.30