{% extends 'base_anonymous.html' %}

{% block title %}Student Registration{% endblock %}

{% block content %}
<div class="card login-card">
    <h1 class="gradient-text">Student Registration</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{% url 'student:register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="form-group">
            <label for="roll_no">Roll No</label>
            <input type="text" name="roll_no" id="roll_no">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div class="form-group">
            <label for="class_id">Class</label>
            <select name="class_id" id="class_id" class="form-control">
                {% for class_obj in classes %}
                    <option value="{{ class_obj.id }}">{{ class_obj.course.name }} - {{ class_obj.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn-primary">Register</button>
    </form>
    <p class="text-center mt-3">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </p>
</div>
{% endblock %}