{% extends 'base.html' %}

{% block title %}Generate QR Code{% endblock %}

{% block content %}
<div class="card login-card">
    <div id="qrcode-container">
        <h4 class="text-center">{{ course.name }}</h4>
        {% if subjects %}
        <p class="text-center text-muted">Subjects: {{ subjects }}</p>
        {% endif %}
        <div id="qrcode-display" class="d-flex justify-content-center mt-3"></div>
        <div id="timer" class="mt-3 text-center"></div>
    </div>
    <div id="expired-message" style="display: none;" class="text-center">
        <h2>QR Code has expired</h2>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
    new QRCode(document.getElementById("qrcode-display"), {
        text: "{{ qr_code_data }}",
        width: 256,
        height: 256,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });

    var expiresAt = new Date("{{ expires_at }}");
    var timerElement = document.getElementById('timer');
    var qrcodeContainer = document.getElementById('qrcode-container');
    var expiredMessage = document.getElementById('expired-message');

    function countdown() {
        var now = new Date();
        var timeLeft = Math.round((expiresAt - now) / 1000);

        if (timeLeft <= 0) {
            clearInterval(timerId);
            qrcodeContainer.style.display = 'none';
            expiredMessage.style.display = 'block';
        } else {
            var minutes = Math.floor(timeLeft / 60);
            var seconds = timeLeft % 60;
            timerElement.innerHTML = "Expires in: " + minutes + "m " + seconds + "s";
        }
    }

    var timerId = setInterval(countdown, 1000);
    countdown(); // initial call
</script>
{% endblock %}
